
.q-intro, .q-intro1 {
  color: white;
  font-size: 22px;
  font-family: 'Kaushan Script', sans-serif;
  padding-right: 34px;
  padding-left: 34px;
}

.home-cars {
  margin-left: 40px;
}

.q-intro {
  margin-bottom: 15px;
}

.q-intro1 {
  margin-bottom: 20px;
}

.footy img {
  height: 495px;
  width: 670px;
  margin-top: -340px;
  margin-left: 280px;
}
