
<div class="home-cars">
  <img src="../assets/ferr.jpg"/>
  <img src="../assets/bentley.jpg"/>
</div>


<p class="q-intro">
  Our cars are the gold standard. Ladies & gentlemen, welcome to AVA
  auto club. We love putting our cars in the hands of esteemed club members
  then is when the magic happens. Most of our active hours happens on the weekends
  or sometimes a club member, just wants to tie one on. So he phones us to
  let us know which model he has his eye on. We then deliver it to him or her.
</p>
<!--<br/>-->
<p class="q-intro1">
  More than a culture. More than a group. We are breathing rare air. Not
  all of our current club members are rich, many aren't. Our price is justified
  and we offer flexable pay. This club came to fruition out of our founders
  thoughts, we are a private company. So that should tell you were different.
</p>

<div class="footy">
  <ul>
    <li><img src="../assets/A1-logo.png"></li>
    <li><img src="../assets/B1-logo.png"></li>
    <li><img src="../assets/C1-logo.png"></li>
    <li><img src="../assets/D1-logo.png"></li>
    <li><img src="../assets/F1-logo.png"></li>
  </ul>
</div>
