* {
  box-sizing: border-box;
}

.q-intro, .q-intro1 {
  color: white;
  font-size: 22px;
  font-family: 'Kaushan Script', sans-serif;
  padding-right: 34px;
  padding-left: 34px;
}

.cover-cars {
  text-align: center;
}

h1 {
  color: gold;
  background-color: #56596c;
  font-family: Blacksword, sans-serif;
  font-size: 1.90em;
  margin-bottom: 0;
}
h1.welcome {
  text-align: center;
}

header {
  text-align: center;
}

.q-intro {
  margin: 43px 75px 15px;
}

.q-intro1 {
  margin: 43px 75px 40px;
}

.column img {
  background-color: #595959;
}
.column1 > img {
  height: 160px;
}
.column2 > img {
  height: 160px;
}
.column3 > img {
  height: 160px;
}
.column1,.column2,.column3 {
  float: left;
}
.column1 > h3,.column2 > h3,.column3 > h3 {
  color: white;
  font-size: 24px;
  font-family: Avenir, sans-serif;
  text-align: center;
}

.column2, .column3 {
  margin-left: 45px;
}

.row {
  float: left;
  margin-left: 187px;
  margin-bottom: 45px;
}
button {
  display: block;
}

img.foot {
  height: 90px;
  margin-bottom: -5px;
}

.column1 > a > button {
  padding: 8px 62px;
}
.column2 > button {
  padding: 8px 73px;
}
.column3 > button {
   padding: 8px 55px;
 }

button {
  background-color: yellow;
  font-size: 15px;
  border: none;
  color: black;
  margin-top: 10px;
  border-radius: 20px;
}

a:link {
  text-decoration: none;
}
button:hover {
  background-color: tomato;
  color: white;
}

/*a:hover, a:visited, a:link, a:active*/
/*{*/
  /*text-decoration: none;*/
/*}*/


/* Media Queries -------------- */

@media only screen and (min-width: 1200px) {
    h1.welcome {
      width: 1200px;
      margin: auto;
/*  
      margin-left: 162px;
      margin-right: 162px;
*/
  }
}


/*@media (max-width: 800px) --[previously commented out] {*/
  /*!*.cover-cars {*!*/
    /*!*margin-left: 5px;*!*/
    /*!*width: 60px;*!*/
  /*!*}*!*/
  /*img {*/
    /*height: 100px;*/
  /*}*/
/* }
@media (max-width: 1220px) {
  img {
    height: 260px;
  }
  h1 {
    text-align: center;
    color: red;
    background-color: white;
    font-family: Blacksword;
    font-size: 26px;
    margin-bottom: 0;
    margin-right: 30px;
    margin-left: 31px;
  }
  h1.welcome {
    margin-right: 237px;
    margin-left: 145px;
  }
}
@media (max-width: 1100px) {
  img {
    height: 200px;
  }
  h1 {
    text-align: center;
    color: red;
    background-color: white;
    font-family: Blacksword;
    font-size: 26px;
    margin-bottom: 0;
    margin-right: 55px;
    margin-left: 61px;
  }
}
@media (min-width: 900px) {
  h1.welcome {
    margin-right: 284px;
    margin-left: 145px;
  }
  .cover-cars {
    margin-left: 145px;
  }
}
@media (min-width: 1220px) {
  h1 {
    text-align: center;
    color: red;
    background-color: white;
    font-family: Blacksword;
    font-size: 36px;
    margin-bottom: 0;
    padding: 8px 0;
  }
  h1.welcome {
    margin-right: 40px;
    margin-left: 39px;
  }
  .cover-cars {
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  img {
    height: 100px;
  }
  h1 {
    text-align: center;
    color: red;
    background-color: white;
    font-family: Blacksword;
    font-size: 16px;
    margin-bottom: 0;
    padding: 3px 0;
  }
  h1.welcome {
    margin-right: 40px;
    margin-left: 60px;
  }
}
@media (min-width: 1240px) {
  h1.welcome { */
    /*margin-right: 284px; -- previously commented out */
    /*margin-left: 145px;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /* max-width:1198px; */
  /* }
  .cover-cars {
    max-width:1198px;
  }
} */

/*@media (max-width: 1120px) -- previously commented out {*/
  /*img {*/
    /*height: 375px;*/
  /*}*/
/*}*/
