<div class="form-wrapper">
  <form class="Iform">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Company (optional)">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="First name">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name">
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Address"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Address 2"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="City">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="State">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput #postalCode maxlength="5" placeholder="Postal Code">
        <!--<mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>-->
      </mat-form-field></td>
    </tr></table>
    <button mat-raised-button color="warn" id="btnS">Submit</button>
  </form>
</div>
