*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.name {
  color: white;
  font-size:45px;
  font-family:'Kaushan Script',Helvetica;
  text-align: center;
}

.Iform {
  background-color: gainsboro;
  color: #00B5AD;
  padding: 30px 30px;
  font-size: large;
  font-family: Helvetica;
  width: 900px;
  height: 475px;
  border: 10px solid #00b5ad;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  background-color: #00CEC2;
  padding: 8px 10px;
  font-size: 15px;
  margin-top: 10px;
  border: 0;
}

.example-full-width {
  width: 100%;
}

#btnS {
  padding: 0 50px;
  margin-bottom: 9px;
}
