

<div class="header-content">
  <img class="upTop" src="../assets/upTop.png"/>
  <img class="alogo" src="../assets/avalogo.png"/>
  <div class="makeshift-nav">
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon class="menu">menu</mat-icon>
      <span class="iMenu">Menu</span>
    </button>
  </div>


  <mat-menu #appMenu="matMenu">
    <a href="/cars"><button mat-menu-item>Cars</button></a>
    <a href="/cover"><button mat-menu-item>Cover</button></a>
    <a href="/lease"><button mat-menu-item>Lease</button></a>
  </mat-menu>
</div> <!-- End header-content -->

<div>
  <router-outlet></router-outlet>
</div>
