
.home-cars > img {
  width: 1200px;
  height: 400px;
  padding-right: 20px;
  padding-left: 30px;
  background-color: #fff;
  margin:  0 auto;
  display: block;
  border: 5px white solid;
}

.upTop {
  margin-bottom: -670px;
}

.alogo {
  height: 140px;
  width: 200px;
  margin-left: 520px;
  margin-bottom: -25px;
}

.q-intro, .q-intro1 {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
  font-family: 'Pacifico', cursive;
  font-family: 'Shadows Into Light', cursive;
}

.example-spacer {
  flex: 1 1 auto;
}

.makeshift-nav {
   color: white;
   margin-left: 86%;
   margin-bottom:10px;
}
