img.autoImg-D {
  /*margin-left: 135px;*/
  margin: auto;
}

.autoImg-D {
  height: 500px;
  width: 1000px;
  position: center;
}

.autoImg-wrapper {
  width: 1280px;
  height: 500px;
  background-color: lightslategray;
  margin: auto;
}

#spec {
  color: #fff;
  font-family: Arial;
  margin-left: 2px;
  font-weight: 800;
}

#name {
  color: dodgerblue;
  font-size: 34px;
  font-family: Blacksword;
  text-align: center;
}

/*div > #info {*/
  /*color: #fff;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  /*margin-right: 300px;*/
  /*margin-left: 300px;*/
  /*padding: 10px 18px;*/
  /*margin-bottom: 20px;*/
  /*float: right;*/
  /*display: inline-block;*/
/*}*/

ul {
  color: orange;
  font-size: 17px;
  font-family: "Avenir Next", Arial;
  display: inline;
  float: left;
  list-style: none;
  margin-top: -20px;
  margin-left: 100px;
}

.Pp {
  color: white;
  padding-right: 380px;
  padding-left: 350px;
  margin-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 17px;
}

li {
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  padding: 3px;
}

#oneL {
  margin-right: 55px;
}
#secondL {
  margin-right: 15px;
}
#threeL {
  margin-right: 26px;
}
#fourL {
  margin-right: 18px;
}

.btn {
  border: none;
  padding: 19px 215px;
  color: #fff;
  background-color: #00b5ad;
  text-align: center;
  font-size: 20px;
  margin-left: 400px;
  margin-top: -60px;
  margin-bottom: 15px;
}

.btn:hover {
  color: white;
  background-color: tomato;
}

button.btn {
  margin: auto;
}
/*a:hover, a:visited, a:link, a:active*/
/*{*/
  /*text-decoration: none;*/
/*}*/

