/*former class tet*/
.autoImg {
  width: 600px;
  height: 425px;
  display: inline-block;
}

.forefront {
  color: white;
  font-size: 18px;
  text-decoration: none;
  float: left;
  background-color: #262626;
  text-align: center;
  margin-left: 26px;
  font-family: Nunito;
}

.forefront li {
  list-style: none;
}

.name {
  color: orange;
  font-size: 35px;
  font-family:'Kaushan Script',Helvetica;
  margin-bottom: -3px;
  margin-top: -2px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom:20px;
  font-family: Nunito;
}

.flash {
  color: #fff;
  font-size:20px;
  text-align: center;
}

.price {
  font-size: large;
}




/*.autoImg { width: 600px; height: 425px;}*/

/*.name {*/
  /*color: orange;*/
  /*font-size:30px;*/
  /*font-family:'Kaushan Script', Helvetica;*/
/*}*/

/*.btn{*/
  /*background-color: #4CAF50; !* Green *!*/
  /*border: none;*/
  /*color: white;*/
  /*padding: 15px 150px;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*margin-bottom:20px;*/
/*}*/
