
<div class="displayFleet">
<div *ngFor="let car of cars; let one = one; let two = two; let three = three; let four = four" [class.first-item]="one" [class.second-item]="two" [class.third-item]="three" [class.fourth-item]="four">
  <app-car-thumbnail [car]="car"></app-car-thumbnail>
</div>
</div>


<!--<div class="por forefront">-->
  <!--<img class="tet" src="../assets/hybrid.jpg"/>-->
  <!--<ul>-->
    <!--<li id="name">Porsche Panamera</li>-->
    <!--<li>MSRP: $78, 100</li>-->
    <!--<li>Seating: 4</li>-->
    <!--<li>MPG: 17</li>-->
  <!--</ul>-->
  <!--<a href="porsche-panamera"><button>Details</button></a>-->
<!--</div>-->

<!--<div class="cad forefront">-->
  <!--<img class="tet" src="../assets/caddie.jpg"/>-->
  <!--<ul>-->
    <!--<li id="name">Cadillac Escalade ESV</li>-->
    <!--<li>MSRP: $90, 500</li>-->
    <!--<li>Seating: 7</li>-->
    <!--<li>MPG: 18</li>-->
  <!--</ul>-->
  <!--<a href="cadillac-esv"><button>Details</button></a>-->
<!--</div>-->
